h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
  padding: 0;
  background-color: #242b33;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.header {
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url(/img/header/back.png);
  background-repeat: no-repeat;
  max-width: 1920px;
  min-height: 840px;
  margin: auto;
}

.header .header__top {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .header__top .nav__meny {
  margin-right: 200px;
}

.header .header__top .nav__meny ul {
  display: flex;
}

.header .header__top .nav__meny ul li {
  margin-left: 39px;
}

.header .header__top .nav__meny ul li a {
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.header .header__title {
  text-align: center;
  margin-top: 225px;
  margin-bottom: 200px;
}

.header .header__title h1 {
  color: #D4C17F;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 63.98px;
  margin: auto;
  width: 556px;
  margin-bottom: 100px;
}

.header .header__footer {
  display: flex;
  width: 493px;
  height: 21px;
  margin: auto;
  justify-content: space-between;
}

.header .header__footer a {
  color: #fff;
  position: relative;
}

.header .header__footer .point::before {
  content: url(../../img/header/point.svg);
  position: absolute;
  top: -5px;
  left: -35px;
}

.header .header__footer .phone::before {
  content: url(../../img/header/phone.svg);
  position: absolute;
  top: -5px;
  left: -35px;
}

@media (max-width: 415px) {
  .header {
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url(/img/header/back.png);
    background-repeat: no-repeat;
    max-width: 415px;
    margin: auto;
  }
  .header .header__top {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .header .header__top .nav__meny {
    margin: 0;
  }
  .header .header__top .nav__meny ul {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .header .header__top .nav__meny ul li {
    margin: 0;
    margin-top: 30px;
  }
  .header .header__top .nav__meny ul li a {
    color: #fff;
    font-family: "Raleway", sans-serif;
  }
  .header .header__title {
    text-align: center;
    margin-top: 225px;
    margin-bottom: 200px;
  }
  .header .header__title h1 {
    color: #D4C17F;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 63.98px;
    margin: auto;
    width: 360px;
    margin-bottom: 50px;
  }
  .header .header__footer {
    display: flex;
    width: 180px;
    height: 50px;
    margin: auto;
    padding-left: 50px;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__footer a {
    color: #fff;
    position: relative;
  }
  .header .header__footer .point::before {
    content: url(../../img/header/point.svg);
    position: absolute;
    top: -5px;
    left: -35px;
  }
  .header .header__footer .phone::before {
    content: url(../../img/header/phone.svg);
    position: absolute;
    top: -5px;
    left: -35px;
  }
}

.testmonials {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.testmonials .testmonials__block__1 p {
  width: 195px;
}

.testmonials .testmonials__block__2 {
  margin-left: 70px;
}

.testmonials .testmonials__block__2 p {
  width: 133px;
}

.testmonials .testmonials__block__3 {
  margin-left: 70px;
}

.testmonials .testmonials__block__3 p {
  width: 134px;
}

.testmonials .testmonials__block__4 {
  margin-left: 70px;
}

.testmonials .testmonials__block__4 p {
  width: 124px;
}

.testmonials .testmonials__block {
  text-align: center;
}

.testmonials .testmonials__block p {
  color: #fff;
  text-align: center;
  margin-top: 53px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
}

.appartaments {
  margin: auto;
  width: 1100px;
  position: relative;
}

.appartaments::before {
  content: 'III';
  right: calc(50% + 555px);
  transform: translate(50%, 0);
  position: absolute;
  top: 0;
  z-index: -1;
  line-height: 1.15;
  opacity: 0.1;
  font-size: 400px;
  font-family: "Raleway", sans-serif;
}

.appartaments h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 47.99px;
  color: #D4C17F;
  margin-bottom: 100px;
  margin-top: 120px;
}

.appartaments .appartaments__conteiner {
  display: grid;
  grid-template-columns: repeat(2, 535px);
  grid-template-rows: repeat(2, 320px);
  gap: 30px;
}

.appartaments .appartaments__conteiner .appartaments__block {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.appartaments .appartaments__conteiner .appartaments__block::after {
  content: " ";
  opacity: 0;
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border-width: 3px;
  border-style: double;
  border-color: rgba(225, 225, 225, 0.4);
  border-image: initial;
  transition: opacity 0.2s ease-in 0s;
}

.appartaments .appartaments__conteiner .appartaments__block:hover::after {
  opacity: 1;
}

.appartaments .appartaments__conteiner .appartaments__block img {
  position: absolute;
  transition: transform 0.2s ease-in;
}

.appartaments .appartaments__conteiner .appartaments__block p {
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  line-height: 28.18px;
}

.appartaments .appartaments__conteiner .appartaments__block:hover img {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.cta {
  padding-bottom: 100px;
  width: 1110px;
  margin: auto;
  padding-top: 180px;
  padding-bottom: 180px;
}

.cta h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;
  font-family: "Playfair Display", serif;
  margin-bottom: 50px;
}

.cta .cta__conteiner {
  display: flex;
  margin: auto;
}

.cta .cta__conteiner p {
  width: 535px;
  height: 114px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  margin-top: 10px;
}

.cta .cta__conteiner .cta__button__conteiner {
  display: flex;
  flex-wrap: wrap;
  width: 555px;
  height: 135px;
  margin-left: 35px;
}

.cta .cta__conteiner .cta__button__conteiner p {
  width: 260px;
  margin-top: 46px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.cta .cta__conteiner .cta__button__conteiner button {
  width: 255px;
  height: 50px;
  border: 0;
  padding: 0;
  margin-top: 35px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  background-color: #D4C17F;
  color: #fff;
  margin-left: 25px;
}

.cta .cta__conteiner .cta__button__conteiner input {
  width: 255px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: rgba(225, 225, 225, 0.2);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #fff;
}

.cta .cta__conteiner .cta__button__conteiner .cta__button__2 {
  margin-left: 30px;
}

.cta .cta__conteiner .cta__button__conteiner input::placeholder {
  align-items: center;
  color: #BEBEBE;
  opacity: 1;
}

.youtube {
  display: flex;
  justify-content: center;
}

.maps {
  margin-top: 180px;
  margin-bottom: 180px;
}

.maps .maps__conteiner {
  width: 1110px;
  margin: auto;
}

.maps .maps__conteiner h2 {
  color: #D4C17F;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 47.99px;
  margin-bottom: 100px;
}

.maps .maps__conteiner div {
  width: 1110px;
  height: 358px;
  background: #626262;
}

.cta__2 {
  padding-bottom: 100px;
  width: 1110px;
  margin: auto;
  padding-top: 180px;
  padding-bottom: 180px;
}

.cta__2 h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;
  font-family: "Playfair Display", serif;
  margin-bottom: 50px;
}

.cta__2 .cta__button__conteiner2 {
  display: flex;
  align-items: center;
}

.cta__2 .cta__button__conteiner2 p {
  width: 260px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-right: 35px;
}

.cta__2 .cta__button__conteiner2 button {
  width: 255px;
  height: 50px;
  border: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  background-color: #D4C17F;
  color: #fff;
  margin-left: 25px;
}

.cta__2 .cta__button__conteiner2 input {
  width: 255px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: rgba(225, 225, 225, 0.2);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #fff;
}

.cta__2 .cta__button__conteiner2 .cta__button__2 {
  margin-left: 30px;
}

.cta__2 .cta__button__conteiner2 input::placeholder {
  align-items: center;
  color: #BEBEBE;
  opacity: 1;
}

@media (max-width: 415px) {
  .testmonials {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .testmonials .testmonials__block__1 p {
    width: 195px;
  }
  .testmonials .testmonials__block__2 {
    margin-left: 0;
  }
  .testmonials .testmonials__block__2 p {
    width: 133px;
  }
  .testmonials .testmonials__block__3 {
    margin-left: 0;
  }
  .testmonials .testmonials__block__3 p {
    width: 134px;
  }
  .testmonials .testmonials__block__4 {
    margin-left: 0;
  }
  .testmonials .testmonials__block__4 p {
    width: 124px;
  }
  .testmonials .testmonials__block {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .testmonials .testmonials__block p {
    align-items: center;
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
  }
  .appartaments {
    margin: auto;
    max-width: 360px;
  }
  .appartaments h3 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 47.99px;
    color: #D4C17F;
    margin-bottom: 100px;
    margin-top: 120px;
  }
  .appartaments .appartaments__conteiner {
    grid-template-columns: repeat(1, 360px);
    grid-template-rows: repeat(4, 250px);
  }
  .appartaments .appartaments__conteiner img {
    width: 360px;
    height: 250px;
  }
  .cta {
    padding-bottom: 100px;
    width: 400px;
    margin: auto;
    padding-top: 180px;
    padding-bottom: 180px;
  }
  .cta h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 47.99px;
    color: #D4C17F;
    font-family: "Playfair Display", serif;
    margin-bottom: 50px;
  }
  .cta .cta__conteiner {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 400px;
    align-items: center;
  }
  .cta .cta__conteiner p {
    width: 255px;
    height: 300px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: "Raleway", sans-serif;
    margin-top: 10px;
  }
  .cta .cta__conteiner .cta__button__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 200px;
    height: 275px;
    margin-left: 0;
  }
  .cta .cta__conteiner .cta__button__conteiner p {
    width: 260px;
    height: 40px;
    margin-top: 46px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    font-family: "Raleway", sans-serif;
    text-align: center;
  }
  .cta .cta__conteiner .cta__button__conteiner button {
    width: 255px;
    height: 50px;
    border: 0;
    padding: 0;
    margin-top: 35px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    background-color: #D4C17F;
    color: #fff;
    margin-left: 0;
  }
  .cta .cta__conteiner .cta__button__conteiner input {
    width: 255px;
    height: 50px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgba(225, 225, 225, 0.2);
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #fff;
  }
  .cta .cta__conteiner .cta__button__conteiner .cta__button__2 {
    margin-left: 0;
    margin-top: 30px;
  }
  .cta .cta__conteiner .cta__button__conteiner input::placeholder {
    align-items: center;
    color: #BEBEBE;
    opacity: 1;
  }
  .youtube iframe {
    width: 400px;
    height: 300px;
  }
  .maps {
    margin-top: 180px;
    margin-bottom: 100px;
  }
  .maps .maps__conteiner {
    width: 375px;
    margin: auto;
  }
  .maps .maps__conteiner h2 {
    color: #D4C17F;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 63.98px;
    margin-bottom: 50px;
    width: 225px;
    margin: auto;
  }
  .maps .maps__conteiner div {
    width: 300px;
    height: 258px;
    background: #626262;
    margin: auto;
  }
  .cta__2 {
    padding-bottom: 100px;
    width: 400px;
    margin: auto;
    padding-top: 180px;
    padding-bottom: 180px;
  }
  .cta__2 h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 47.99px;
    color: #D4C17F;
    font-family: "Playfair Display", serif;
    margin-bottom: 50px;
    width: 270px;
    margin: auto;
  }
  .cta__2 .cta__button__conteiner2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 400px;
    height: 388px;
    margin-left: 0;
  }
  .cta__2 .cta__button__conteiner2 p {
    width: 260px;
    height: 120px;
    margin-top: 46px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-right: 0;
  }
  .cta__2 .cta__button__conteiner2 button {
    width: 255px;
    height: 50px;
    border: 0;
    padding: 0;
    margin-top: 35px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    background-color: #D4C17F;
    color: #fff;
    margin-left: 0;
  }
  .cta__2 .cta__button__conteiner2 input {
    width: 255px;
    height: 50px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgba(225, 225, 225, 0.2);
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #fff;
  }
  .cta__2 .cta__button__conteiner2 .cta__button__2 {
    margin-left: 0;
    margin-top: 30px;
  }
  .cta__2 .cta__button__conteiner2 input::placeholder {
    align-items: center;
    color: #BEBEBE;
    opacity: 1;
  }
}

footer {
  background: #2D343C;
  max-width: 1920px;
  height: 272px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer p {
  display: inline;
  color: #D4C17F;
}

footer ul li {
  color: #fff;
  margin-bottom: 15px;
}

footer ul li div {
  margin-top: 5px;
  width: 174px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 415px) {
  footer {
    background: #2D343C;
    max-width: 1920px;
    height: 770px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;
  }
  footer p {
    display: inline;
    color: #D4C17F;
  }
  footer ul li {
    color: #fff;
    margin-bottom: 15px;
  }
  footer ul li div {
    margin-top: 5px;
    width: 174px;
    display: flex;
    justify-content: space-between;
  }
}
/*# sourceMappingURL=st.css.map */