footer{
    background: #2D343C;
    max-width: 1920px;
    height: 272px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    p{
        display: inline;
        color: $mane_color;
    }
    
        ul{
            li{
                color: $wh_color;
                margin-bottom: 15px;
                div{
                    margin-top: 5px;
                    width: 174px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    
    
}
@media(max-width: 415px){
    footer{
        background: #2D343C;
        max-width: 1920px;
        height: 770px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 20px;
        p{
            display: inline;
            color: $mane_color;
        }
        
            ul{
                li{
                    color: $wh_color;
                    margin-bottom: 15px;
                    div{
                        margin-top: 5px;
                        width: 174px;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        
       
}}

